:root {
  --customtouchHeight: 36px;
}


/**
    * Custom Logo
    * --------------------------------------------------------------------- */

my-login .instance-name,
my-register .instance-name {
  content: url(/client/assets/images/logo.svg?YuoFG5oA);
  height: 50px !important;
}

my-login .instance-short-description,
my-register .instance-short-description {
  margin-top: 7px !important;
}

.icon-logo {
  margin-right: 5px;
  width: 208px !important;
  height: var(--customtouchHeight) !important;
}

/* Hide instance-name of logo - but still displayed for SEO */
.icon-logo + .instance-name {
  position: absolute;
  width: 1px !important;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


/**
    * Hacks
    * --------------------------------------------------------------------- */

html {
  scroll-behavior: smooth;
}

img[alt="instance-picture"] {
  width: 100%;
}

.user-quota .progress .progress-bar {
    background-color: var(--mainColorLighter) !important;
}

.user-quota .progress .progress-bar.secondary {
    background-color: var(--mainColorLightest) !important;
}

.user-quota .progress span {
    color: var(--mainForegroundColor) !important;
}

.mtcaptcha {
  text-align: center;
  margin-bottom: 0.1rem;
  margin-top: -1.4rem;
}

@media screen and (max-width: 720px) {
  my-register .step-label {
    max-width: 50px;
  }
}

/* Hide footer contact link */
.footer-links a[href='/about/instance'] {
  display: none !important;
}

/* Do no let resize on textarea*/
my-markdown-textarea textarea,
my-video-comment-add textarea {
  resize: none;
}

/* Custom shadow input and textarea on Chrome / Webkit */
input, textarea {
  -webkit-appearance: none;
}

/* hack lists in cards */
#code-of-conduct ol, .code-of-conduct ol {
  padding-left: 15px;
}
#code-of-conduct ul, .code-of-conduct ul {
  padding-left: 25px;
}
#terms ul, .terms ul {
  padding-left: 10px;
}

#peertube-plugin-livechat-container iframe {
  /*width: 420px;*/
}


/**
    * Custom Alert
    * --------------------------------------------------------------------- */

.alert {
  border-style: none;
  border-width: 0;
  border-left: 7px solid;
}


/**
    * Custom Modal
    * --------------------------------------------------------------------- */

.modal .modal-header {
  background-color: var(--submenuBackgroundColor) !important;
}

.modal .modal-content {
  border: 0 none !important;
  box-shadow: 0 0 15px var(--mainColor) !important;
}


/**
    * Custom Hamburger Menu Icon Color
    * --------------------------------------------------------------------- */

.icon.icon-menu {
  transition: background-color 0.15s;
  /* fixes morphing effect */
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 24px 24px;
}

.icon.icon-menu:hover,  .icon.icon-menu:active,  .menu-open .icon.icon-menu {
  background-color: var(--mainColor) !important;
}


/**
    * Custom Instance Description
    * --------------------------------------------------------------------- */

.instance-short-description, my-about-instance .block.short-description {
  padding-top: 7px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--greyForegroundColor);
  font-style: italic;
  letter-spacing: 1px;
  max-height: 4rem !important;
}

.instance-short-description { /* For login and signup pages */
  margin-bottom: 3px !important;
}


/**
    * Custom Focus Input
    * --------------------------------------------------------------------- */

.form-control,
.form-group textarea,
.form-group input[type=text],
.form-group select {
  transition: all .15s ease-in-out !important;
}

.form-control:focus,
.form-control:focus-within,
.form-group textarea:focus,
.form-group input[type=text]:focus,
.form-group select:focus,
.form-group textarea:focus-within,
.form-group input[type=text]:focus-within,
.form-group select:focus-within {
  border-width: 1px !important;
  box-shadow: 0 0 0 1px var(--mainColor) !important;
  border-color: var(--mainColor) !important;
}


/**
    * Custom Video-comment Textarea
    * --------------------------------------------------------------------- */

my-video-comment-add .avatar-and-textarea {
  align-items: center !important;
}

my-video-comment-add textarea {
  min-height: var(--customtouchHeight);
  max-height: var(--customtouchHeight);
  height: var(--customtouchHeight);
  border: 1px solid var(--greyBackgroundColor) !important;
  background-color: var(--submenuBackgroundColor) !important;
}

my-video-comment-add textarea:focus {
  min-height: 70px !important;
  height: 70px;
  max-height: none !important;
  background-color: var(--mainBackgroundColor) !important;
}

my-video-comment-add textarea::placeholder {
  color: var(--actionButtonColor) !important;
  opacity: 1 !important;
}

my-video-comment-add .markdown-guide svg {
  color: var(--actionButtonColor) !important;
  fill: var(--mainBackgroundColor) !important;
  background-color: var(--actionButtonColor) !important;
}

my-video-comment-add .markdown-guide svg rect {
  stroke: var(--actionButtonColor) !important;
}


/**
    * NSFW blur only on thumbnails, display titles
    * --------------------------------------------------------------------- */

.video-miniature-name.blur-filter {
  -webkit-filter: unset !important;
  filter: unset !important;
}

.videos .video-wrapper {
  position: relative;
}

.video-thumbnail .blur-filter {
  transform: none !important;
  filter: unset !important;
}

.video-miniature-name.blur-filter::after {
  content: 'NSFW';
  position: absolute;
  top: 1px;
  right: 19px;
  color: white;
  background-color: red;
  padding: 3px;
  border-radius: 3px;
}


